<html>

<head>
	<title>Brain Tumor Detection</title>
	<link rel="icon" href="static/img/doc.png" sizes="240x240">
	<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}" type="">

	{% include 'link_styles.html' %}
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script>
		function previewFile(input) {
			var file = $("input[type=file]").get(0).files[0];

			if (file) {
				var reader = new FileReader();

				reader.onload = function () {
					$("#previewImg").attr("src", reader.result);
				}

				reader.readAsDataURL(file);
			}
		}
	</script>

</head>
<style>
	body {
		background-color: #e6eff0;



	}

	.bg {
		/* background-image: url(static/images/brain3.mp4); */
		
		/* Full height */
		height: 100%;
		position: fixed;

		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.center {
		text-align: left;
	}
</style>

<body>
	<video autoplay muted loop style="position: fixed; right: 0; bottom: 0;display: flex; justify-content: center; width: 100%;">
		<source src="{{url_for('static', filename='images/brain3.mp4')}}" type="video/mp4">
	</video>
	{% include 'nav.html' %}
	<div>
		<div class="bg">
			<div class="center">
				<p style="font-size: 40px; color: #fff;">Upload Image: </p>
				<form action="http://127.0.0.1:5000/uploader" method="post" enctype="multipart/form-data">
					<p>
						<input type="file" name="file" accept=".png, .jpg, .jpeg" onchange="previewFile(this);" required>
					</p>
					<img id="previewImg" alt="Placeholder" height="30%" width="30%">
					<p>
						<input type="submit" value="Predict">
					</p>
				</form>
			</div>
		</div>
	</div>
	
	
	
	
</body>

</html>